* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Main-Background-Color: #dcd9e6;
  --Second-Background-Color: #e384ff;
  --Text-Color: #fff;
  --Black-Color: #000000;
  --Edit-Icon-Color: #655dbb;
  --Eraser-Icon-Color: #eb455f;
}

::selection {
  background-color: #1a1a1a63;
  color: #eee;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Main-Background-Color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-image:url("/Images/alex-morales-ERv1QEfZWEA-unsplash.jpg"); */
  background-color: var(--Main-Background-Color);
  color: var(--Text-Color);
  overflow-x: hidden;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  height: 3rem;
  padding: 0 1.4rem;
  border-radius: 1.5rem;
  border-color: transparent;
  background-color: var(--Second-Background-Color);
  color: var(--Text-Color);
  font-weight: 600;
  cursor: pointer;
}

button,
input {
  border-radius: 1.5rem;
  border-color: transparent;
  cursor: pointer;
}

input:not(:disabled):focus {
  border-color: transparent;
  outline: var(--Second-Background-Color) solid 2px;
}

.hide {
  visibility: hidden;
  transition: all 0.333s;
}
/**************************/
/*         Header         */
/**************************/
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .todo-heading {
  margin: 10rem 0;
  font-size: 10rem;
  font-weight: bold;
}

/**************************/
/*      Main-Boards       */
/**************************/
main .Boards-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 5rem;
  padding: 0 2.5rem;
}

main .Boards-Container .Board-Todo-List {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 25rem;
}

main .Boards-Container .Board-Todo-List .Board-Title {
  background-color: transparent;
  color: var(--Text-Color);
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

main .Boards-Container .Board-Todo-List .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  min-height: 3rem;
}

/***************************/
/*  Task & Task Container  */
/***************************/

main .Boards-Container .Board-Todo-List .Todo-List .task-cont {
  position: relative;
  border-radius: 0.5rem;
  width: 25rem;
  height: 3rem;
}

main .Boards-Container .Board-Todo-List .Todo-List .task-cont:not(:last-child) {
  margin-bottom: 0.5rem;
}

main .Boards-Container .Board-Todo-List .Todo-List .task-cont .task,
.Add-Task-Btn {
  width: 25rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  padding: 0 1.4rem;
}

main .Boards-Container .Board-Todo-List .Todo-List .task-cont .task:disabled {
  background-color: var(--Text-Color);
  color: var(--Black-Color);
}

main .Boards-Container .Board-Todo-List .Todo-List .task-cont .task {
  cursor: move;
}

main .Boards-Container .Board-Todo-List .Todo-List .task-cont .control-box {
  display: flex;
  justify-content: space-between;
  top: 0.1rem;
  right: 1rem;
  position: absolute;
}

.Todo-List .task-cont .control-box button {
  padding: 0.25rem;
  color: var(--Text-Color);
  border-radius: 50rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
  opacity: 0.6;
}

.Todo-List .task-cont .control-box button:hover {
  opacity: 1;
}
.Todo-List .task-cont .control-box button.edit {
  color: var(--Edit-Icon-Color);
}
.Todo-List .task-cont .control-box button.remove {
  color: var(--Eraser-Icon-Color);
}
/***************************/
/*         Footer          */
/***************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0rem;
}

footer .Footer-Signature {
  font-size: 1.5rem;
}

footer .Footer-Signature a {
  color: #191825;
  transition: 0.2s;
  font-weight: bold;
  text-decoration: none;
}

footer .Footer-Signature a:hover {
  color: #bface2;
}

footer .copy-right-text {
  font-size: 1.4rem;
  padding: 10px 0 0;
  opacity: 0.7;
}
/***************************/
/*      Media Quarry       */
/***************************/
@media (max-width: 380px) {
  footer .Footer-Signature {
    font-size: 0.9rem;
  }
  footer .copy-right-text {
    font-size: 0.6rem;
    padding: 10px;
    opacity: 0.7;
  }
}
